<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
    http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">

    <display-name>websecurity1</display-name>

    <!-- Déclaration des rôles -->
    <security-role>
        <role-name>tomcat</role-name>
    </security-role>

    <!-- Contraintes de sécurité -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>GreetingServlet</web-resource-name>
            <url-pattern>/hello</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Configuration du mécanisme d'authentification -->
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <!-- Déclaration de la servlet -->
    <servlet>
        <description></description>
        <display-name>GreetingServlet</display-name>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>exple1.GreetingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <!-- Configuration des pages d'erreur -->
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>

    <!-- Filtre de liste noire -->
    <filter>
        <filter-name>BlacklistFilter</filter-name>
        <filter-class>exple1.BlacklistFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BlacklistFilter</filter-name>
        <url-pattern>/hello</url-pattern>
    </filter-mapping>

</web-app>
